<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form action='/signup' method='post'>
            <label for='username'>Username:</label>
            <input type='text' id='username' name='username' required/>
            <label for='password'>Password:</label>
            <input type='text' id='password' name='password' required/>
            <br>
            <label for='teacher'>Teacher</label>
            <input type='radio' id='teacher' name='role' value="teacher" required/>
            <br>
            <label for='student'>Student</label>
            <input type='radio' id='student' name='role' value="student" required/>
            <br>
            <button type='submit'>Submit</button>
        </form>
    </body>
</html>