<link rel="stylesheet" href="/css/topbar.css"/>
<header id="container">
    <nav>
        <a id="logo">Classroom 2.0</a>
        <ul id="links">
            <li><a>About</a></li>
            <li><a>Dashboard</a></li>
            <li><a>Signout</a></li>
        </ul>
    </nav>
</header>